<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring4MVCHelloWorldNoXMLDemo:war exploded">
    <output-path>$PROJECT_DIR$/Spring4MVCHelloWorldNoXMLDemo/target/Spring4MVCHelloWorldNoXMLDemo</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring4MVCHelloWorldNoXMLDemo" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/Spring4MVCHelloWorldNoXMLDemo/target/Spring4MVCHelloWorldNoXMLDemo/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Spring4MVCHelloWorldNoXMLDemo/web/Web" />
    </root>
  </artifact>
</component>